/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 * To use home rows - &hm LSHFT F
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERTY 0
#define NUMB 1
#define NAVI 2
#define ADJUST 3

/ {
    combos {
        compatible = "zmk,combos";

        combo_adjust_layer {
            bindings = <&mo 5>;
            key-positions = <38 37>;
        };
    };

    behaviors {
        space_bh: space_bh {
            compatible = "zmk,behavior-mod-morph";
            label = "SPACE_BH";
            bindings = <&kp RIGHT_ALT>, <&kp SPACE>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
            keep-mods = <(MOD_LGUI)>;
        };

        ctrl_tab_bh: ctrl_tab_bh {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_TAB_BH";
            bindings = <&kp LEFT_COMMAND>, <&kp TAB>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };

        MOD_TO: MOD_TO {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_TO";
            bindings = <&kp>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none  &kp Q  &kp W  &kp E       &kp R      &kp T    &kp Y            &kp U                 &kp I      &kp O       &kp P      &none
&none  &kp A  &kp S  &kp D       &kp F      &kp G    &kp H            &kp J                 &kp K      &kp L       &kp SQT    &none
&none  &kp Z  &kp X  &kp C       &kp V      &kp B    &kp N            &kp M                 &kp COMMA  &kp PERIOD  &kp SLASH  &none
                     &kp ESCAPE  &kp SPACE  &mo 1    &lt 2 BACKSPACE  &MOD_TO LEFT_SHIFT 3  &kp ENTER
            >;
        };

        left_layer {
            bindings = <
&trans  &kp NUMBER_1     &kp NUMBER_2          &kp NUMBER_3           &kp NUMBER_4  &kp NUMBER_5    &trans  &trans     &trans  &trans  &trans  &trans
&trans  &kp EXCLAMATION  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp TAB       &kp GRAVE       &trans  &trans     &trans  &trans  &trans  &trans
&trans  &kp LEFT_SHIFT   &kp LEFT_CONTROL      &kp LEFT_COMMAND       &kp LEFT_ALT  &kp ESC         &trans  &trans     &trans  &trans  &trans  &trans
                                               &trans                 &trans        &trans          &trans  &kp SPACE  &trans
            >;
        };

        right_layer {
            bindings = <
&none  &trans  &trans  &trans  &trans          &trans    &kp NUMBER_6  &kp NUMBER_7   &kp NUMBER_8       &kp N9             &kp NUMBER_0       &none
&none  &trans  &trans  &trans  &trans          &trans    &kp MINUS     &kp ENTER      &kp COLON          &kp LEFT_BRACKET   &kp RIGHT_BRACKET  &none
&none  &trans  &trans  &trans  &trans          &trans    &kp EQUAL     &kp RIGHT_ALT  &kp RIGHT_COMMAND  &kp RIGHT_CONTROL  &kp BACKSLASH      &none
                       &trans  &kp LEFT_SHIFT  &trans    &trans        &trans         &trans
            >;
        };

        nav_layer {
            bindings = <
&none  &trans          &trans            &trans            &trans        &trans    &kp HOME        &kp PAGE_DOWN          &kp PAGE_UP   &kp END          &trans  &none
&none  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_COMMAND  &kp LEFT_ALT  &trans    &kp LEFT_ARROW  &kp DOWN_ARROW         &kp UP_ARROW  &kp RIGHT_ARROW  &trans  &none
&none  &trans          &trans            &trans            &trans        &trans    &trans          &trans                 &trans        &trans           &trans  &none
                                         &trans            &to 0         &trans    &trans          &MOD_TO RIGHT_SHIFT 4  &trans
            >;
        };

        fun_layer {
            bindings = <
&none  &kp F1          &kp F2            &kp F3            &kp F4        &kp F5          &kp F6        &kp F7         &kp F8             &kp F9             &kp F10          &none
&none  &kp NUMBER_1    &kp NUMBER_2      &kp NUMBER_3      &kp NUMBER_4  &kp NUMBER_5    &kp NUMBER_6  &kp NUMBER_7   &kp NUMBER_8       &kp NUMBER_9       &kp NUMBER_0     &none
&none  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_COMMAND  &kp LEFT_ALT  &kp F11         &kp F12       &kp RIGHT_ALT  &kp RIGHT_COMMAND  &kp RIGHT_CONTROL  &kp RIGHT_SHIFT  &none
                                         &trans            &to 0         &trans          &trans        &to 0          &trans
            >;
        };

        adjust_layer {
            bindings = <
&none  &sys_reset    &bt BT_CLR    &none         &none         &none           &none  &none  &none  &none  &none  &none
&none  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0    &none  &none  &none  &none  &none  &none
&none  &out OUT_TOG  &none         &none         &none         &none           &none  &none  &none  &none  &none  &none
                                   &none         &none         &none           &none  &none  &none
            >;
        };
    };
};
